@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
a {
  text-decoration: none;
}
/* Global Styles */
.section-title {
  font-size: 60px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #252432;
}
.card{
  border: none;
  border-radius: 20px;
}
/* Header Styles */
/* Default state for the header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0); /* Transparent by default */
  transition: background-color 0.3s ease-in-out;
}

/* Background color on scroll */
.header.scrolled {
  background-color: rgba(255, 255, 255, 1); /* Fully visible on scroll */
}

.nav {
  width: 499px;
  height: 68px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.658);
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
  font-family: "Inter", sans-serif;
}
.logo-container img {
  width: 170px;
  height: 37.29px;
}
.sign-in-btn {
  font-weight: 400;
  font-size: 16px;
  color: #8987a1;
  font-family: "Raleway", sans-serif;
}
.sign-up-btn {
  background-color: #4e47ff;
  color: #fff;
  width: 132px;
  height: 48px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
  font-family: "Raleway", sans-serif;
}
.sign-up-btn:hover {
  background-color: #4d47ff6e;
  color: #fff;
}
/* Hero section styles */
.hero-section {
  background-image: url("./assets/images/hero-bg.png");
  background-position: center 10%; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: contain contain; /* Adjust the image to fit within the section */
  height: 120vh; /* Full viewport height */
  width: 100%; /* Full width */
}

.hero-section-text {
  width: 764px;
  height: 315px;
  font-size: 73.34px;
  font-weight: 700;
  color: #252432;
  line-height: 73.34px;
  font-family: "Raleway", sans-serif;
}
.hero-section-btn {
  background-color: #252432;
  color: #fff;
  width: 211px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  margin-top: -60px;
}
.hero-section-btn:hover {
  color: #fff;
}
/* contact section styles */
.contact {
  padding-top: 200px;
  padding-bottom: 200px;
}
.contact-form {
  width: 696px;
  margin: 0 auto;
}
.contact-submit-btn {
  background-color: #4e47ff;
  width: 100%;
  height: 62px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.contact-form-input {
  height: 70px;
}
.contact-form-text-area {
  height: 222px;
}
/* footer section styles */
.footer {
  background-color: #fff;
  height: 398px;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 100px;
}

/* What we do section styles */
.what-we-do{
  padding-bottom: 100px;
}
.w-card-icon-container{
  height: 44px;
  width: 44px;
  background-color: #F5F8FF;
  border-radius: 9px;
  display: grid;
  place-items: center;
}
.w-icon{
  width: 24px;
  height: 24px;
}
.w-card-title{
  font-size: 19.77px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
}
.w-text{
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
  color: #8987A1;
}
.WhatWeDoPhoto{
  width: 100%;
  height: auto;
  margin-top: 2rem;
  bottom: 0;
  padding: 1rem;
}
.w-big-icon{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vector-big-icon-container{
  display: grid;
  place-items: center;
  border-radius: 5px;
  background-color: #5B54FF;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* pricing section styles */
.pricing-left-card{
  padding: 30px;
}
.pricing-left-text{
  font-size: 14px;
  font-weight: 400;
  color: #8987A1;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.pricing-title{
  font-size: 34.07px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #252432;
  line-height: 40.88px;
  margin-bottom: 1.4rem;
}
.meeting-btn{
  height: 60px;
  width: 100%;
  background-color: #4E47FF;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}
.pricing-right-card{
  padding: 30px;
}
.pricing-right-card-title{
  font-size: 30px;
  color: #252432;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: .5rem;
}
.pricing-right-card-text{
  font-size: 14px;
  font-weight: 400;
  color: #8987A1;
  margin-top: 1rem;
}
.price{
  font-size: 60px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #252432;
}
.pricing-right-card ul {
  padding: 0;
  list-style: none; /* Removes default bullet points */
}

.pricing-right-card ul li {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #8987A1;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
}

.pricing-right-card ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px; /* Adjust size of the icon */
  height: 16px;
  background-image: url('./assets/images/tick.png'); /* Replace with the online icon URL */
  background-size: contain;
  background-repeat: no-repeat;
}
.month{
  color: #8987A1;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.price-right-container{
  background-color: #F5F8FF;
  border-radius: 10px;
  padding: 20px;
}
